body {
    color: white;
    background-color: rgb(40, 25, 22);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(7, 252, 40);
    background: purple;
    padding: 20px;
    font-size: 32px;
    color: rgb(92, 207, 10);
    
}
.chamada {
    background: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

}
div{
    margin-right: 20px;
}
chamada-texto{
    margin-right:10%;

}
h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  img {
    height: 160px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
.categoria {
    background: purple;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
.categoria-videos img {
    opacity: 0.5px;
    height: 160px;
  }
.categoria-videos img:hover {
    opacity: 1.0px;
    border: 1px solid-green;
}
.categoria h2{
    color: rgb(42, 122, 228);
}